<?xml version="1.0"?>
<robot name="kratos" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Define PI constant with higher precision -->
  <xacro:property name="PI" value="3.14159265359"/>

  <xacro:include filename="$(find kratos_description)/urdf/kratos_body.xacro"/>
  <xacro:include filename="$(find kratos_description)/urdf/kratos_left_wheel.xacro"/>
  <xacro:include filename="$(find kratos_description)/urdf/kratos_right_wheel.xacro"/>
  <xacro:include filename="$(find zed_wrapper)/urdf/zed_macro.urdf.xacro" />

  <xacro:kratos_body/>

  <!-- Left side wheels (3 wheels) -->
  <xacro:kratos_left_wheel
      name="left_wheel_front"
      parent="base_link"
      xyz="0.4 0.5 -0.5"
      rpy="0 0 0"/>

  <xacro:kratos_left_wheel
      name="left_wheel_middle"
      parent="base_link"
      xyz="0.0 0.5 -0.5"
      rpy="0 0 0"/>

  <xacro:kratos_left_wheel
      name="left_wheel_rear"
      parent="base_link"
      xyz="-0.4 0.5 -0.5"
      rpy="0 0 0"/>

  <!-- Right side wheels (3 wheels) -->
  <xacro:kratos_right_wheel
      name="right_wheel_front"
      parent="base_link"
      xyz="0.4 -0.5 -0.5"
      rpy="0 0 0"/>

  <xacro:kratos_right_wheel
      name="right_wheel_middle"
      parent="base_link"
      xyz="0.0 -0.5 -0.5"
      rpy="0 0 0"/>

  <xacro:kratos_right_wheel
      name="right_wheel_rear"
      parent="base_link"
      xyz="-0.4 -0.5 -0.5"
      rpy="0 0 0"/>
  
  <xacro:zed_camera name="zed" model="zed2i">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:zed_camera>

  <joint name="zed_mount_joint" type="fixed">
    <parent link="base_link"/>
    <child link="zed_camera_link"/>
    <origin xyz="0.25 0 0" rpy="0 0 0"/> 
  </joint>
</robot>
